hnlLastStopCellInfo = '(
                           ( "analogLib" "nmos4" "spectre" "47" "1433394038" )
                          ( "analogLib" "pmos4" "spectre" "47" "1433394038" )
                          ( "analogLib" "vdc" "spectre" "33" "1433394038" )
                          ( "analogLib" "vsin" "spectre" "35" "1433394038" )
                          ( "analogLib" "vpulse" "spectre" "34" "1433394038" )
                          ( "analogLib" "cap" "spectre" "30" "1433394038" )
                          ( "ahdlLib" "dac_8bit_ideal" "veriloga" "38" "1176109288" )
                       )
hnlLastMaxNameLength = 1024
hnlLastNamePrefix = "hnl_"
hnlLastNetNamePrefix = "_net"
hnlLastInstNamePrefix = "_inst"
hnlLastParamNamePrefix = "_par"
hnlLastGlobalNetPrefix = "_gnet"
hnlLastModulePrefix = "_sub"
hnlLastHierarchyDelimiter = "."
hnlLastMapNetFirstChar = '(
                            ( "!" "\\!" )
                            ( "\"" "\\\"" )
                            ( "#" "\\#" )
                            ( "$" "\\$" )
                            ( "%" "\\%" )
                            ( "&" "\\&" )
                            ( "'" "\\'" )
                            ( "(" "\\(" )
                            ( ")" "\\)" )
                            ( "*" "\\*" )
                            ( "+" "\\+" )
                            ( "," "\\," )
                            ( "-" "\\-" )
                            ( "." "_" )
                            ( "/" "\\/" )
                            ( "0" "_0" )
                            ( "1" "_1" )
                            ( "2" "_2" )
                            ( "3" "_3" )
                            ( "4" "_4" )
                            ( "5" "_5" )
                            ( "6" "_6" )
                            ( "7" "_7" )
                            ( "8" "_8" )
                            ( "9" "_9" )
                            ( ":" "\\:" )
                            ( ";" "\\;" )
                            ( "<" "\\<" )
                            ( "=" "\\=" )
                            ( ">" "\\>" )
                            ( "?" "\\?" )
                            ( "@" "\\@" )
                            ( "[" "\\[" )
                            ( "\\" "\\\\" )
                            ( "]" "\\]" )
                            ( "^" "\\^" )
                            ( "`" "\\`" )
                            ( "{" "\\{" )
                            ( "|" "\\|" )
                            ( "}" "\\}" )
                            ( "~" "\\~" )
                          )
hnlLastMapNetInName = '(
                            ( "\"" "\\\"" )
                            ( "#" "\\#" )
                            ( "$" "\\$" )
                            ( "%" "\\%" )
                            ( "&" "\\&" )
                            ( "'" "\\'" )
                            ( "(" "\\(" )
                            ( ")" "\\)" )
                            ( "*" "\\*" )
                            ( "+" "\\+" )
                            ( "," "\\," )
                            ( "-" "\\-" )
                            ( "." "_" )
                            ( "/" "\\/" )
                            ( ":" "\\:" )
                            ( ";" "\\;" )
                            ( "<" "_" )
                            ( "=" "\\=" )
                           ( ">" )
                            ( "?" "\\?" )
                            ( "@" "\\@" )
                            ( "[" "\\[" )
                            ( "\\" "\\\\" )
                            ( "]" "\\]" )
                            ( "^" "\\^" )
                            ( "`" "\\`" )
                            ( "{" "\\{" )
                            ( "|" "\\|" )
                            ( "}" "\\}" )
                            ( "~" "\\~" )
                          )
hnlLastMapInstFirstChar = '(
                            ( "!" "\\!" )
                            ( "\"" "\\\"" )
                            ( "#" "\\#" )
                            ( "$" "\\$" )
                            ( "%" "\\%" )
                            ( "&" "\\&" )
                            ( "'" "\\'" )
                            ( "(" "\\(" )
                            ( ")" "\\)" )
                            ( "*" "\\*" )
                            ( "+" "\\+" )
                            ( "," "\\," )
                            ( "-" "\\-" )
                            ( "." "_" )
                            ( "/" "\\/" )
                            ( "0" "_0" )
                            ( "1" "_1" )
                            ( "2" "_2" )
                            ( "3" "_3" )
                            ( "4" "_4" )
                            ( "5" "_5" )
                            ( "6" "_6" )
                            ( "7" "_7" )
                            ( "8" "_8" )
                            ( "9" "_9" )
                            ( ":" "\\:" )
                            ( ";" "\\;" )
                            ( "<" "\\<" )
                            ( "=" "\\=" )
                            ( ">" "\\>" )
                            ( "?" "\\?" )
                            ( "@" "\\@" )
                            ( "[" "\\[" )
                            ( "\\" "\\\\" )
                            ( "]" "\\]" )
                            ( "^" "\\^" )
                            ( "`" "\\`" )
                            ( "{" "\\{" )
                            ( "|" "\\|" )
                            ( "}" "\\}" )
                            ( "~" "\\~" )
                          )
hnlLastMapInstInName = '(
                            ( "\"" "\\\"" )
                            ( "#" "\\#" )
                            ( "$" "\\$" )
                            ( "%" "\\%" )
                            ( "&" "\\&" )
                            ( "'" "\\'" )
                            ( "(" "\\(" )
                            ( ")" "\\)" )
                            ( "*" "\\*" )
                            ( "+" "\\+" )
                            ( "," "\\," )
                            ( "-" "\\-" )
                            ( "." "_" )
                            ( "/" "\\/" )
                            ( ":" "\\:" )
                            ( ";" "\\;" )
                            ( "<" "_" )
                            ( "=" "\\=" )
                           ( ">" )
                            ( "?" "\\?" )
                            ( "@" "\\@" )
                            ( "[" "\\[" )
                            ( "\\" "\\\\" )
                            ( "]" "\\]" )
                            ( "^" "\\^" )
                            ( "`" "\\`" )
                            ( "{" "\\{" )
                            ( "|" "\\|" )
                            ( "}" "\\}" )
                            ( "~" "\\~" )
                          )
hnlLastMapModelFirstChar = '(
                            "!"
                             "\""
                            "#"
                            "$"
                            "%"
                            "&"
                            "'"
                            "("
                            ")"
                            "*"
                            "+"
                            ","
                            "-"
                            "."
                            "/"
                            "0"
                            "1"
                            "2"
                            "3"
                            "4"
                            "5"
                            "6"
                            "7"
                            "8"
                            "9"
                            ":"
                            ";"
                            "<"
                            "="
                            ">"
                            "?"
                            "@"
                            "["
                             "\\"
                            "]"
                            "^"
                            "`"
                            "{"
                            "|"
                            "}"
                            "~"
                          )
hnlLastMapModelInName = '(
                             "\""
                            "#"
                            "$"
                            "%"
                            "&"
                            "'"
                            "("
                            ")"
                            "*"
                            "+"
                            ","
                            "-"
                            "."
                            "/"
                            ":"
                            ";"
                            ( "<" "_" )
                            "="
                           ( ">" )
                            "?"
                            "@"
                            "["
                             "\\"
                            "]"
                            "^"
                            "`"
                            "{"
                            "|"
                            "}"
                            "~"
                          )
hnlLastInvalidNetNames = '(
                     ( "pow" )
                     ( "paramset" )
                     ( "log10" )
                     ( "P_CELSIUS0" )
                     ( "gnd!" "0" )
                     ( "protect" )
                     ( "temp" )
                     ( "tan" )
                     ( "fmod" )
                     ( "altergroup" )
                     ( "correlate" )
                     ( "asinh" )
                     ( "PROTECT" )
                     ( "scale" )
                     ( "if" )
                     ( "march" )
                     ( "return" )
                     ( "process" )
                     ( "save" )
                     ( "ends" )
                     ( "truncate" )
                     ( "M_PI" )
                     ( "subckt" )
                     ( "acosh" )
                     ( "M_SQRT2" )
                     ( "analogmodel" )
                     ( "end" )
                     ( "global" )
                     ( "int" )
                     ( "M_2_SQRTPI" )
                     ( "M_LOG2E" )
                     ( "asin" )
                     ( "pwr" )
                     ( "tnom" )
                     ( "log" )
                     ( "M_LOG10E" )
                     ( "M_PI_2" )
                     ( "ic" )
                     ( "sinh" )
                     ( "cos" )
                     ( "print" )
                     ( "P_H" )
                     ( "atan2" )
                     ( "library" )
                     ( "hypot" )
                     ( "atan" )
                     ( "M_2_PI" )
                     ( "sin" )
                     ( "calculate" )
                     ( "PROT" )
                     ( "P_U0" )
                     ( "else" )
                     ( "ceil" )
                     ( "parameters" )
                     ( "mismatch" )
                     ( "to" )
                     ( "acos" )
                     ( "P_C" )
                     ( "M_DEGPERRAD" )
                     ( "statistics" )
                     ( "nodeset" )
                     ( "M_E" )
                     ( "plot" )
                     ( "input" )
                     ( "function" )
                     ( "output" )
                     ( "P_K" )
                     ( "sens" )
                     ( "floor" )
                     ( "min" )
                     ( "vary" )
                     ( "P_Q" )
                     ( "export" )
                     ( "M_TWO_PI" )
                     ( "sqrt" )
                     ( "M_SQRT1_2" )
                     ( "P_EPS0" )
                     ( "M_LN10" )
                     ( "montecarlo" )
                     ( "max" )
                     ( "abs" )
                     ( "0" "_0" )
                     ( "local" )
                     ( "tanh" )
                     ( "integer" )
                     ( "exp" )
                     ( "prot" )
                     ( "endfunction" )
                     ( "inline" )
                     ( "cosh" )
                     ( "atanh" )
                     ( "real" )
                     ( "M_1_PI" )
                     ( "FUNCTION" )
                     ( "model" )
                     ( "M_PI_4" )
                     ( "for" )
                     ( "M_LN2" )
                     ( "scalem" )
                   )
hnlLastInvalidInstNames = '(
                     ( "pow" )
                     ( "paramset" )
                     ( "log10" )
                     ( "P_CELSIUS0" )
                     ( "protect" )
                     ( "temp" )
                     ( "tan" )
                     ( "fmod" )
                     ( "altergroup" )
                     ( "correlate" )
                     ( "asinh" )
                     ( "PROTECT" )
                     ( "scale" )
                     ( "if" )
                     ( "march" )
                     ( "return" )
                     ( "process" )
                     ( "save" )
                     ( "ends" )
                     ( "truncate" )
                     ( "M_PI" )
                     ( "subckt" )
                     ( "acosh" )
                     ( "M_SQRT2" )
                     ( "analogmodel" )
                     ( "end" )
                     ( "global" )
                     ( "int" )
                     ( "M_2_SQRTPI" )
                     ( "M_LOG2E" )
                     ( "asin" )
                     ( "pwr" )
                     ( "tnom" )
                     ( "log" )
                     ( "M_LOG10E" )
                     ( "M_PI_2" )
                     ( "ic" )
                     ( "sinh" )
                     ( "cos" )
                     ( "print" )
                     ( "P_H" )
                     ( "atan2" )
                     ( "library" )
                     ( "hypot" )
                     ( "atan" )
                     ( "M_2_PI" )
                     ( "sin" )
                     ( "calculate" )
                     ( "PROT" )
                     ( "P_U0" )
                     ( "else" )
                     ( "ceil" )
                     ( "parameters" )
                     ( "mismatch" )
                     ( "to" )
                     ( "acos" )
                     ( "P_C" )
                     ( "M_DEGPERRAD" )
                     ( "statistics" )
                     ( "nodeset" )
                     ( "M_E" )
                     ( "plot" )
                     ( "input" )
                     ( "function" )
                     ( "output" )
                     ( "P_K" )
                     ( "sens" )
                     ( "floor" )
                     ( "min" )
                     ( "vary" )
                     ( "P_Q" )
                     ( "export" )
                     ( "M_TWO_PI" )
                     ( "sqrt" )
                     ( "M_SQRT1_2" )
                     ( "P_EPS0" )
                     ( "M_LN10" )
                     ( "montecarlo" )
                     ( "max" )
                     ( "abs" )
                     ( "local" )
                     ( "tanh" )
                     ( "integer" )
                     ( "exp" )
                     ( "prot" )
                     ( "endfunction" )
                     ( "inline" )
                     ( "cosh" )
                     ( "atanh" )
                     ( "real" )
                     ( "M_1_PI" )
                     ( "FUNCTION" )
                     ( "model" )
                     ( "M_PI_4" )
                     ( "for" )
                     ( "M_LN2" )
                     ( "scalem" )
                   )
hnlLastInvalidModelNames = '(
                     ( "pow" )
                     ( "paramset" )
                     ( "log10" )
                     ( "P_CELSIUS0" )
                     ( "protect" )
                     ( "temp" )
                     ( "tan" )
                     ( "fmod" )
                     ( "altergroup" )
                     ( "correlate" )
                     ( "asinh" )
                     ( "PROTECT" )
                     ( "scale" )
                     ( "if" )
                     ( "march" )
                     ( "return" )
                     ( "process" )
                     ( "save" )
                     ( "ends" )
                     ( "truncate" )
                     ( "M_PI" )
                     ( "subckt" )
                     ( "acosh" )
                     ( "M_SQRT2" )
                     ( "analogmodel" )
                     ( "end" )
                     ( "global" )
                     ( "int" )
                     ( "M_2_SQRTPI" )
                     ( "M_LOG2E" )
                     ( "asin" )
                     ( "pwr" )
                     ( "tnom" )
                     ( "log" )
                     ( "M_LOG10E" )
                     ( "M_PI_2" )
                     ( "ic" )
                     ( "sinh" )
                     ( "cos" )
                     ( "print" )
                     ( "P_H" )
                     ( "atan2" )
                     ( "library" )
                     ( "hypot" )
                     ( "atan" )
                     ( "M_2_PI" )
                     ( "sin" )
                     ( "calculate" )
                     ( "PROT" )
                     ( "P_U0" )
                     ( "else" )
                     ( "ceil" )
                     ( "parameters" )
                     ( "mismatch" )
                     ( "to" )
                     ( "acos" )
                     ( "P_C" )
                     ( "M_DEGPERRAD" )
                     ( "statistics" )
                     ( "nodeset" )
                     ( "M_E" )
                     ( "plot" )
                     ( "input" )
                     ( "function" )
                     ( "output" )
                     ( "P_K" )
                     ( "sens" )
                     ( "floor" )
                     ( "min" )
                     ( "vary" )
                     ( "P_Q" )
                     ( "export" )
                     ( "M_TWO_PI" )
                     ( "sqrt" )
                     ( "M_SQRT1_2" )
                     ( "P_EPS0" )
                     ( "M_LN10" )
                     ( "montecarlo" )
                     ( "max" )
                     ( "abs" )
                     ( "local" )
                     ( "tanh" )
                     ( "integer" )
                     ( "exp" )
                     ( "prot" )
                     ( "endfunction" )
                     ( "inline" )
                     ( "cosh" )
                     ( "atanh" )
                     ( "real" )
                     ( "M_1_PI" )
                     ( "FUNCTION" )
                     ( "model" )
                     ( "M_PI_4" )
                     ( "for" )
                     ( "M_LN2" )
                     ( "scalem" )
                   )
hnlLastInvalidParamNames = '(
                     ( "pwl" )
                     ( "node" )
                     ( "fmod" )
                     ( "trap" )
                     ( "inst" )
                     ( "only" )
                     ( "gear2" )
                     ( "euler" )
                     ( "spice2" )
                     ( "suggest" )
                     ( "if" )
                     ( "scale" )
                     ( "pnpv" )
                     ( "process" )
                     ( "terminals" )
                     ( "save" )
                     ( "spice" )
                     ( "sweep" )
                     ( "awb" )
                     ( "waveless" )
                     ( "brk" )
                     ( "z" )
                     ( "normal" )
                     ( "n" )
                     ( "cos" )
                     ( "sinh" )
                     ( "yang" )
                     ( "max_only" )
                     ( "calculate" )
                     ( "spice3" )
                     ( "source" )
                     ( "to" )
                     ( "acos" )
                     ( "allglobal" )
                     ( "absout" )
                     ( "bsim" )
                     ( "moderate" )
                     ( "function" )
                     ( "rawfile" )
                     ( "sens" )
                     ( "floor" )
                     ( "npn" )
                     ( "lvlpub" )
                     ( "steps" )
                     ( "correlations" )
                     ( "dc" )
                     ( "relative" )
                     ( "montecarlo" )
                     ( "abs" )
                     ( "fatal" )
                     ( "local" )
                     ( "tanh" )
                     ( "autodc" )
                     ( "endfunction" )
                     ( "prot" )
                     ( "atanh" )
                     ( "bulk" )
                     ( "rampup" )
                     ( "for" )
                     ( "trapgear2" )
                     ( "pow" )
                     ( "max_v_only" )
                     ( "nutascii" )
                     ( "wsfbin" )
                     ( "child" )
                     ( "models" )
                     ( "subth" )
                     ( "nonlinear" )
                     ( "altergroup" )
                     ( "logfile" )
                     ( "screen" )
                     ( "sat" )
                     ( "forward" )
                     ( "p" )
                     ( "sum" )
                     ( "in" )
                     ( "alllocal" )
                     ( "dev" )
                     ( "warning" )
                     ( "title" )
                     ( "parent" )
                     ( "int" )
                     ( "isdb" )
                     ( "float" )
                     ( "log" )
                     ( "spectre" )
                     ( "ic" )
                     ( "std" )
                     ( "atan2" )
                     ( "nodes" )
                     ( "atan" )
                     ( "subthresh" )
                     ( "PROT" )
                     ( "else" )
                     ( "ceil" )
                     ( "mismatch" )
                     ( "parameters" )
                     ( "lvl" )
                     ( "on" )
                     ( "export" )
                     ( "overlap" )
                     ( "exp" )
                     ( "inline" )
                     ( "insist" )
                     ( "yes" )
                     ( "continue" )
                     ( "log10" )
                     ( "out" )
                     ( "temp" )
                     ( "protect" )
                     ( "poly" )
                     ( "correlate" )
                     ( "timedomain" )
                     ( "hspice" )
                     ( "brief" )
                     ( "march" )
                     ( "return" )
                     ( "detailed" )
                     ( "finish" )
                     ( "nutbin" )
                     ( "none" )
                     ( "error" )
                     ( "sine" )
                     ( "all" )
                     ( "wsfascii" )
                     ( "end" )
                     ( "analogmodel" )
                     ( "cdsspice" )
                     ( "oppoint" )
                     ( "global" )
                     ( "dptran" )
                     ( "both" )
                     ( "turbo" )
                     ( "asin" )
                     ( "gear2only" )
                     ( "delta" )
                     ( "tc" )
                     ( "gnd" )
                     ( "library" )
                     ( "hypot" )
                     ( "sin" )
                     ( "pointlocal" )
                     ( "diff" )
                     ( "meyer" )
                     ( "off" )
                     ( "min" )
                     ( "vary" )
                     ( "vt" )
                     ( "vertical" )
                     ( "sqrt" )
                     ( "gmin" )
                     ( "indifferent" )
                     ( "lateral" )
                     ( "nodes_and_terminals" )
                     ( "cosh" )
                     ( "pnpl" )
                     ( "real" )
                     ( "fwd" )
                     ( "model" )
                     ( "FUNCTION" )
                     ( "eng" )
                     ( "liberal" )
                     ( "bilinear" )
                     ( "paramset" )
                     ( "tan" )
                     ( "asinh" )
                     ( "status" )
                     ( "PROTECT" )
                     ( "psfascii" )
                     ( "ends" )
                     ( "truncate" )
                     ( "subckt" )
                     ( "acosh" )
                     ( "traponly" )
                     ( "pulse" )
                     ( "file" )
                     ( "override" )
                     ( "breakdown" )
                     ( "psfbin" )
                     ( "allpub" )
                     ( "tnom" )
                     ( "pwr" )
                     ( "full" )
                     ( "debug" )
                     ( "sigglobal" )
                     ( "print" )
                     ( "spiceplus" )
                     ( "inversez" )
                     ( "ptran" )
                     ( "quit" )
                     ( "tabular" )
                     ( "nodeset" )
                     ( "statistics" )
                     ( "pnp" )
                     ( "rev" )
                     ( "sci" )
                     ( "sources" )
                     ( "plot" )
                     ( "input" )
                     ( "no" )
                     ( "output" )
                     ( "bert" )
                     ( "backward" )
                     ( "list" )
                     ( "conservative" )
                     ( "max" )
                     ( "triode" )
                     ( "absin" )
                     ( "absolute" )
                     ( "selected" )
                     ( "integer" )
                     ( "nowhere" )
                     ( "npnv" )
                     ( "scalem" )
                   )
hnlLastInstNameDifferentFrom = '( )
hnlLastModelNameDifferentFrom = '( )
hnlLastNetNameDifferentFrom = '( )
hnlLastTermNameDifferentFrom = '( )
hnlLastParamNameDifferentFrom = '( )
hnlLastLibInfo = '(
                    ( "POSH_TI_SAR_zqc_20190501" "1556778010" )
                  )
hnlLastConstants = '(
                      "P_CELSIUS0"
                      "M_PI"
                      "M_SQRT2"
                      "M_2_SQRTPI"
                      "M_LOG2E"
                      "M_LOG10E"
                      "M_PI_2"
                      "P_H"
                      "M_2_PI"
                      "P_U0"
                      "P_C"
                      "M_DEGPERRAD"
                      "M_E"
                      "P_K"
                      "P_Q"
                      "M_TWO_PI"
                      "M_SQRT1_2"
                      "P_EPS0"
                      "M_LN10"
                      "M_1_PI"
                      "M_PI_4"
                      "M_LN2"
                    )
hnlLastDesignVars = '(
                      "fin"
                      "fs"
                    )
